/*базові стилі для веб-сторінки*/

/* Це налаштування дозволяє включати padding і border 
у загальну ширину та висоту елемента, що полегшує роботу 
з розмірами. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* Це прибирає стандартні маркери та відступи. */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Використовується для приховування елементів з екрана */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* screen and в @media означает, 
что стили применяются только для экранов. */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

/* !!!!!!!!header!!!!!!! */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  background: #fff;
  justify-content: space-between;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  display: block;
  padding: 16px 0;
}
.header-logo-span {
  color: #2e2f42;
}

.header-menu-list,
.header-adress {
  display: none;
}

.burger-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    /* text-decoration: none; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-menu-link.current {
    position: relative;
    /* color: #404bbf; */
  }
  .header-menu-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;

    background-color: #404bbf;
    border-radius: 2px;
  }
  .header-menu-link:hover,
  .header-menu-link:focus,
  .header-adress-link:hover,
  .header-adress-link:focus {
    color: #404bbf;
  }

  .header-adress {
    font-style: normal;
    display: block;
  }

  .header-adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-adress-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .header-adress-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }
  .header-adress-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile-menu */

@media screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu.is-open {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}
/* button */
.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px #2e2f42;
}
.mobile-menu-btn:focus,
.mobile-menu-btn:hover {
  fill: #fff;
  border: none;
  background-color: #404bbf;
}
.mobile-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* !!!!!!!!!!! */

/* nav */

.mobile-menu-nav {
  margin-bottom: auto;
}
.mobil-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobil-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobil-nav-item:hover,
.mobil-nav-item:focus,
.mobil-address-item:hover,
.mobil-address-item:focus {
  color: #404bbf;
}

/* adress */
.mobil-menu-address {
  font-style: normal;
  display: block;
}

.mobil-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobil-address-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

/* social */
.mobil-social-list {
  display: flex;
  justify-content: space-between; /* Равномерное распределение */
  align-items: center;
  gap: 40px;
  padding-top: 48px;
  height: 40px;
}
.mobil-social-item {
  width: 40px;
  height: 40px;
}

.mobil-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4d5ae5;
}
.mobil-icon {
  fill: #f4f4fd;
}
.mobil-social-link:hover,
.mobil-social-link:focus {
  background-color: #404bbf;
}

/* main */
/* main-SECTIONONE */

.main-sectionone {
  padding: 72px 52px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  max-width: none;
}
.main-sectionone-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px;
}

.button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  min-width: 169px;
  min-height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media (min-resolution: 2x) {
  .main-sectionone {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main-sectionone {
    padding: 112px 136px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet.jpg);
  }

  .main-sectionone-title {
    font-size: 56px;
    margin: 0 auto 36px;
  }
}

@media (min-resolution: 2x) {
  .main-sectionone {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .main-sectionone {
    padding: 188px 316px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desktop.jpg);
  }
  .main-sectionone-title {
    margin: 0 auto 48px;
  }
}
@media (min-resolution: 2x) {
  .main-sectionone {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desktop@2x.jpg);
  }
}

/* main-SECTIONTWO */

.main-sectiontwo {
  padding: 96px 16px;
}

.icon-main-sectiontwo {
  display: none;
}
.main-sectiontwo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  margin: 0 auto;
}

.main-sectiontwo-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.main-sectiontwo-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .main-sectiontwo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .main-sectiontwo-item {
    margin-bottom: 72px;
    width: calc((100% - 24px) / 2);
  }
  .main-sectiontwo-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .icon-main-sectiontwo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .main-sectiontwo-item {
    width: calc((100% - 72px) / 4);
  }
  .main-sectiontwo-text {
    font-weight: 400;
  }
  .main-sectiontwo-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* main-SECTIONTHREE */
.main-sectionthree {
  background-color: #f4f4fd;
  padding: 96px 28px;
}

.main-subject {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.main-sectionthree-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.main-sectionthree-item {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 100%;
  max-width: 264px;
}
.main-sectionthree-div {
  padding: 32px 16px;
}
.main-sectionthree-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.main-sectionthree-text {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.main-sectionthree-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.main-sectionthree-elipse {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.sectionthree-social {
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sectionthree-social:focus,
.sectionthree-social:hover {
  background-color: #404bbf;
}
.sectionthree-svg {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .main-sectionthree {
    padding: 96px 108px;
  }
  .main-sectionthree-item {
    width: calc((100% - 48px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .main-sectionthree {
    padding: 120px 0px;
  }

  .main-sectionthree-item {
    width: calc((100% - 96px) / 4);
  }
}

/* main-SECTIONFOUR */
.main-sectionfour {
  padding: 96px 16px;
}
.main-subject {
  margin-bottom: 72px;
}
.main-sectionfour-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.main-sectionfour-item {
  background: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.main-sectionfour-item:hover {
  transform: translatey(0%);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* поднимает текст */
.box:hover .overlay {
  transform: translateY(0%);
}

.main-sectionfour-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.main-sectionfour-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main-sectionfour-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .main-sectionfour-list {
    row-gap: 72px;
  }
  .main-sectionfour-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .main-sectionfour {
    padding: 120px 0px;
  }
  .main-sectionfour-item {
    width: calc((100% - 48px) / 3);
  }
}

/* FOOTER */
.footer {
  padding: 96px 16px;
  background-color: #2e2f42;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  min-width: 288px;
  margin-bottom: 72px;
}

.footer-text-social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-list {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.footer-items {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.footer-icon {
  fill: #f4f4fd;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:focus,
.footer-social-link:hover {
  background-color: #31d0aa;
}
.footer-text-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.form-input {
  margin-bottom: 16px;
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  background: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 236px 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.form-input:focus,
.form-input:hover {
  border: 1px solid #31d0aa;
  border-radius: 4px;
}
.submit-btn {
  height: 40px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  min-width: 165px;
  align-items: center;
  font-weight: 500;
  gap: 16px;
}

.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 96px 108px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap; /* Дозволяє елементам переноситися на новий ряд */
    /* justify-content: space-between; Розподіл простору між елементами */
    gap: 24px; /* Відступи між елементами */
  }

  .container-footer-logo {
    display: flex;
    flex-direction: column; /* Елементи йдуть вертикально */
    align-items: flex-start; /* Вирівнює всі елементи по лівому краю */
    max-width: 264px;
  }
  .container-social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-text-subscribe {
    display: flex;
    flex-direction: column; /* Елементи йдуть вертикально */
    align-items: flex-start;
  }
  .subscribe-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .form-input {
    margin-bottom: auto;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0 100px 0;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
  }
}
