/* .section {
  padding: 120px 0;
} */

.main-sectionthree {
  background-color: #f4f4fd;
}

/* .main-sectionthree {
  padding: 120px 0;
} */
.main-sectionthree-list {
  padding: 0 15px;
  display: flex;
  gap: 24px;
  align-items: center;
}
/* .main-sectionthree-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background: #fff;
} */

.main-sectionfour {
  padding: 120px 0 120px 0;
}
.main-subject {
  margin-bottom: 72px;
}
.main-sectionfour-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.main-sectionfour-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-sectionfour-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translatey(0%);
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .box:hover .overlay {
  transform: translateY(0%) поднимает текст
} */
.box:hover .overlay {
  transform: translateY(0%);
}
.main-sectionfour-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.main-sectionfour-title {
  margin-bottom: 8px;
}
.main-sectionfour-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main-sectionfour-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  padding: 100px 0 100px 0;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer {
  /* margin: 0 auto; */
  background-color: #2e2f42;
}
.foother-conteiner {
  display: flex;
  align-items: baseline;
}

.conteiner-foother-logo {
  margin-right: 120px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  min-width: 264px;
}
.footer-text-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-span {
  color: #f4f4fd;
}

.footer-icon {
  fill: #f4f4fd;
}
.footer-list {
  display: flex;
  gap: 16px;
}
.footer-items {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4d5ae5;
}
.conteiner-social-media {
  margin-right: 80px;
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: #31d0aa;
}

/* 5 урок */

.footer-text-subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  background: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.form-input:focus,
.form-input:hover {
  border: 1px solid #31d0aa;
  border-radius: 4px;
}
.submit-btn {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  min-width: 165px;
  align-items: center;
  font-weight: 500;
  gap: 16px;
}

/* .footer-icon.subs {
  margin-left: 16px;
  fill: #f4f4fd;
} */

.subscribe-form button:focus,
.subscribe-form button:hover {
  border: 1px solid #31d0aa;
  border-radius: 4px;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  transform: translate(-50%, -50%);

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus,
.button-close:hover {
  fill: #fff;
  border: none;
  background-color: #404bbf;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:focus {
  fill: #fff;
}
.icon-close:hover {
  fill: #fff;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-div {
  margin-bottom: 8px;
}

.label-user {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  /* margin-top: 8px; */
}
.div-input {
  position: relative;
}

.input-modal {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
  border-color: #4d5ae5;
}

.div-input:focus-within .icon-black {
  fill: #4d5ae5;
}

.icon-black {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.form-com {
  margin-bottom: 16px;
}

.form-four {
  margin-bottom: 24px;
}

.input-modal-comment {
  font-size: 12px;
  width: 100%;
  height: 120px;
  min-width: 169px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal-comment:focus {
  border-color: #4d5ae5;
}
.input-modal-comment:hover {
  border-color: #4d5ae5;
}

.input-privacy {
  margin-left: 24px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-check {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-privacy:checked + .label-privacy .modal-check {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.pri-po {
  color: #4d5ae5;
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.btn-send {
  display: block;
  width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 100px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
